.footer-head {
  color: white;
  font-family: 'Fti-SemiBold';
  letter-spacing: 1.2px; }

.footer-content-container {
  font-family: 'Fti-Regular';
  letter-spacing: 1.2px; }
  .footer-content-container .footer-items {
    margin: 1.2em 0 0 0;
    color: white; }
    .footer-content-container .footer-items a {
      text-decoration: none;
      color: inherit;
      display: block;
      margin: 1em 0 0 0; }
    .footer-content-container .footer-items .address {
      margin-top: 1em; }
    .footer-content-container .footer-items .copywrite {
      margin-top: 5em; }
